body {
    margin: 0;
}

path {
    fill: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
}

div.tooltip {
    position: absolute;
    padding: 5px;
    font: 12px sans-serif;
    background: #ddd;
    border: solid 1px;
    border-radius: 4px;
    pointer-events: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h4 {
    margin: 10px 5px 0px 5px;
    font: 20px Verdana;
}